
<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Passwort zurücksetzen</h3>
				  	      <form action="pwreminder.htm" method="POST">
				  	        <form action="pwreminder.htm" method="POST">
        					<label>E-Mail-Adresse</label>
         					<input name="email" type="email" placeholder="E-Mail-Adresse" />
        
        <input type="submit" class="submit" name="submit" value="neues Passwort senden&nbsp;&nbsp;&nbsp;>>>" style="margin-left:15px;">
					         <br class="clr"/><br/><br/>
					        <hr>
					        <br/><br/>
					        <a href="<?php echo WEBDIR?>pwreminder.htm">Sie haben Ihr Passwort vergessen?</a>
					    </form>
					    
					    
				  </div>
  				</div>
				<div class="col span_1_of_3">
					<div class="contact_info">
    	 				<h3>Wie funktioniert das Zurücksetzen des Passwortes?</h3>
					    <p>
					    Du hast Dein Passwort vergessen? <br/><br/>Kein Problem.<br/><br/> Wir senden Dir ein neues Passwort an die bei uns registrierte E-Mail-Adresse. Dieses Passwort kannst Du erfolgreichen Login ändern.<br/><br/><b>Warum senden wir nicht dein altes Passwort?</b><br/><br/>
    aus Sicherheitsgründen ist dein Passwort nirgends im System als Klartext sondern kryptografisch behandelt  gespeichert  und auch nicht erzeugbar.
					    
					    </p>
      				</div>
      			   
				 </div>
				   <div class="clear"></div>
			  </div>
   


