<?php
    if(!empty($this->_['klient'])):
        $tempt=array();
        foreach($this->_['klient'] as $key => $termin):
            if(!in_array($termin->termin_id."--".$termin->titel."--".$termin->beschreibung."--".$termin->terminbeginn."--".$termin->terminende,$tempt) ):

                $tempt[] = $termin->termin_id."--".$termin->titel."--".$termin->beschreibung."--".$termin->terminbeginn."--".$termin->terminende;
                $historietermine .= "<li id='$termin->termin_id--$termin->titel--$termin->beschreibung--$termin->terminbeginn--$termin->terminende'>
                                    <ul>
                                        <li>von <time>".$this->func->sanitize($termin->terminbeginn)."</time> bis <time>"
                                        . $this->func->sanitize($termin->terminende).'</time></li>
                                        <li><h5>'.$this->func->sanitize($termin->titel)."</h5></li>
                                        <li><p>".nl2br($this->func->sanitize($termin->beschreibung))."</p><br /></li>
                                    </ul>
                                </li>";
            endif;



        endforeach;
        if( empty( $historietermine ) )
           $historietermine= "Keine Termine vorhanden!";


    endif;
    ?>
<h3>HP-Termine &nbsp; &nbsp;<a href="javascript:void(0)" id="onclick_termin"><img style="display: inline" src="<?php echo WEBDIR?>images/icons/note_new.gif" alt="Neuen Datensatz anlegen" title="Neuen Datensatz anlegen" /></a><br style="clear:both;float:none;"/></h3>

                                <?php echo $historietermine; ?>






