<div id="artikel">
    <h1>Asd löschen - Bestätigung</h1>
    Wollen Sie das Asd (<?php echo strip_tags(htmlspecialchars(stripslashes($this->_['asd']->name))) ?>) <b>" <?php echo strip_tags(htmlspecialchars(stripslashes($this->_['asd']->abteilung))) ?>" </b>
    von <?php echo strip_tags(htmlspecialchars(stripslashes($this->_['asd']->stadt)))?>
    wirklich löschen?
    <form action="#" method="post">
        <?php echo $this->link->makeLink('<b>[ JA ]</b>',WEBDIR."admin/asdadmin.htm?confirmed=yes&amp;view=delete&amp;id=".$this->_['asd']->id,"adminlink");?>
        <?php echo $this->link->makeLink('<b>[ NEIN ]</b>',WEBDIR."admin/asdadmin.htm","adminlink"); ?>
    </form>
</div>


