#transbg
{
    position:fixed;
    top:0px;
    right:0px;
    min-width:100%;
    min-height:100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2147483647;
}
#transcontainer
{
    padding:10px;
    padding-right:40px;
    position:absolute;
    z-index:9999999999998;
    height:auto;
    width:auto;
    background:#ededed;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius:5px; /* Safari, Chrome */
    -khtml-border-radius:5px; /* Konqueror */
    border-radius:5px; /* CSS3 */
}


#transclose
{
     position:absolute;
     right:2px;
     top:2px;
     z-index:9999999999999;
}
#pic_next, #pic_prev 
{
    font-weight: bold;
    font-family: verdana;
    font-size: 16px;
    color:#000;
    letter-spacing: -3px;
}