#mainform
{
    width:960px;
    margin:20px auto;
    padding-top:20px;
    font-family: 'Fauna One', serif;
    display:block;
}

/*das Formular zum popup*/
#onclick_notiz, #onclick
{
    padding:3px;
    color:green;
    cursor:pointer;
    padding:5px 5px 5px 15px;
    width:200px;
    color:white;
    background-color:#123456;
    box-shadow:1px 1px 5px grey;
    border-radius:3px;
}
b
{
    font-size:18px;
    text-shadow:1px 0px 3px gray;
}
#popup
{
    padding-top:80px;
}
.form
{
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    width:350px;
    margin:20px 250px 0 35px;
    float:left;
}
input
{
    width:90%;
    height:35px;
    margin-top:5px;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
}
input[type=button]
{
    background-color:#2F292B;
    border:1px solid white;
    font-family: 'Fauna One', serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width:49%;
}

#notizdiv, #hilfeartdiv, #termindiv, #printdiv
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.92);
    display: none;
}


#notiz, #hilfeart, #termin, #print{

    width:350px;
    margin:0px;
    background-color:white;
    font-family: 'Fauna One', serif;
    position: relative;
    border: 5px solid rgb(47, 41, 43);
}
.img
{
    float: right;
    margin-top: -18px;
    margin-right: -27px;
    cursor: hand;
}
#notiz, #hilfeart, #termin, #print
{
    left: 50%;
    top: 50%;
    margin-left:-210px;
    margin-top:-150px;
}

/* Zone für die Lsite der Notizen */
.fixed_block_notizen
{
    height: 645px;
    overflow: auto;
}

/* Zone für die Lsite der HIlfearten */
.fixed_block
{
    height: 500px;
    overflow: auto;
}

/*finale Rückmeldung des Passwortes im Profil;*/
#message_from_db
{
    display: block;
    width: 87%;
    height: 22px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    margin-bottom: 22px;
    margin-top: 38px;
    padding: 20px 10px;
    text-align: center;
    border-radius: 3px;
}