/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
.clr
{
    display:block;
    clear:both;
    font-size:0px;
    height:0px;
    line-height:0px;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.left
{
    float:left;
}

.right
{
    float:right;
}

.center
{
    width:100%;
    text-align:center;
}

img
{
    border:0;
}

.msg
{
    display:block;
    padding:7px;
    background-color:#fcfcfc;
    border:1px solid #339933;
    font-size:12px;
    color:#339933;
    font-weight:bold;
}
.err
{
    display:block;
    background-color:#fcfcfc;
    border:1px solid #CC3333;
    font-size:10px;
    color:#CC3333;
    font-weight:bold;
    padding:7px;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('fonts/LKf8nhXsWg5ybwEGXk8UBQ.woff') format('woff');
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'bebas_neueregular';
    src:url('fonts/BebasNeue-webfont.ttf') format('truetype');
}
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
	-ms-transition:all .2s linear;
}
.logo {
	text-align: center;
}
.logo h1 a, .header-top h1 a{
	color: #FFF;
	font-size: 3em;
	font-family: 'bebas_neueregular';
}
/*--menu--*/
.cssmenu{
	text-align:center;
	padding:0.1% 0 0.2%;
}
.cssmenu > ul > li {
	display: inline-block;
	position: relative;
}
.cssmenu > ul > li.active a, .cssmenu > ul > li a:hover,.cssmenu > ul > li.active a, .cssmenu > ul > li a.active {
	color: #000;
	background:#E4E24F;
}
.cssmenu > ul > li > a {
	text-transform: uppercase;
	font: normal 15px/30px PT Sans, sans-serif;
	color: #FFF;
	display: block;
	line-height: 4.8em;
	padding: 10px 32px;
	letter-spacing: 1px;
}

.cssmenu >ul
{
    float:left !important;
}

.cssmenu ul.level-1
{
position: absolute; background: #e4e24f ;padding: 10px;    display:inline-block;float:none;clear:both;display:none;width:100%; margin-right:32px;
}

.cssmenu ul.level-1 a
{
   display:block;margin-top:5px;margin-bottom:5px;color:rgb(0,0,0);

}

.header{
	background:#e4e24f;
	padding: 2% 0;
}
.header-text {
	/*float: right;
	margin: -100px 20px;*/
	font-size: 0.8125em;
	color:#8A8803;
	text-align:center;
}
.header-text .phone {
	color:#8A8803;
	font:16px/1.2em Arial, Helvetica, sans-serif;
	padding-left: 20px;
	display: inline-block;
	margin: 0;
	background: url(../images/phone.png) left 8px no-repeat;
}
.banner{
	background:#2f292b;

}
.about-banner{
	background:#2f292b;
}
.main{
	padding:3% 0;
}
/*--content--*/
.top-box h2{
	text-align: center;
	color: #888;
	font-size: 3em;
	font-family: 'bebas_neueregular';
	margin-bottom: 20px;
}
hr {
	border-bottom: 1px solid #CCC;
	border-top: none;
	margin: 0;
	width: 500px;
	display: inline-block;
	margin-top: -14px;
	margin-bottom: 14px;
	margin-right: auto;
	margin-left: auto;
}
.top-box{
	text-align:center;
	margin-bottom: 2%;
}
.top-box p{
	color: #999;
	font-size: 0.8125em;
	line-height: 1.5em;
	width: 65%;
	margin: 0 auto;
}
/*  GRID OF FIVE   ============================================================================= */
.col_1_of_5{
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.col_1_of_5:first-child { margin-left: 0; }
.span_1_of_5 {
  	width: 16.72%;
}
.span_1_of_5  h3{
	color: #888;
	margin-bottom: .5em;
	font-size: 1.2em;
	line-height: 1.2;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.span_1_of_5   p {
	color: #999;
	font-size: 0.8125em;
	line-height: 1.5em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
 @media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_5{
		margin: 1% 0 1% 0%;
	}
	.span_1_of_5 {
		width:94%;
		padding:3%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
 @media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_5{
		margin: 1% 0 1% 0%;
	}
	.span_1_of_5 {
		width:92%;
		padding:4%;
	}
}
.grid_img{
	text-align:center;
	margin-bottom: 4%;
}
.content-top{
	margin-bottom:5%;
}
/*  GRID OF FOUR   ============================================================================= */

.col_1_of_4{
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.span_1_of_4 {
	width: 22.8%;
}
.span_1_of_4 img{
	display:block;
}
.span_1_of_4  h3 a{
	color:#fff;
	text-transform: uppercase;
	font-size:1.3em;
	line-height: 1.2;
	font-family: 'PT Sans', sans-serif;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_1_of_4  h3 a:hover{
	color:#E4E24F;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%;
	}
}
.caption, th{
	background: #2F292B;
	padding:20px;
	text-align:center;
}

table
{
 border:1px solid #212121
 }

th
{
    font-weight:bold;
    color:#FFF
}

td
{
    padding:15px;
    text-align:center;
}

tr:nth-child(odd) td
{
    background-color: #EFEFEF
}
hr.hr {
	border-bottom: 1px solid #4A4A4A;
	width: 133px;
	position: relative;
	top: -4px;
}
.caption p{
	color:#fff;
	font-size:0.8125em;
	line-height:1.5em;
}
.content-bottom{
	margin-bottom: 5%;
}
.caption1{
	padding-top:8%;
}
time {
	color: #929292;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 8px;
}
.lnk {
	color:#E4E24F;
	font-size: 1.2em;
	line-height: 1.2;
	font-family: 'PT Sans', sans-serif;
	margin-bottom:3%;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.lnk:hover{
	color:#888;
}
.caption1 p{
	color:#999;
	font-size:0.8125em;
	line-height:1.5em;
	margin-bottom: 5%;
}
.btn.btn-primary {
	box-shadow: none;
	background: #E4E24F;
	position: relative;
	font-size: 0.99em;
	display: inline-block;
	padding:7px 15px 7px 15px;
	font-family: 'PT Sans', sans-serif;
	color: #FFF;
	text-shadow: none;
	border: none;
	letter-spacing: 0;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 4px solid #CFCD32;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn.btn-primary:hover {
	background:#333;
	border-bottom: 4px solid #111;
}
.hover_img img {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.hover_img img:hover {
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-o-transform: scale(0.99);
	opacity: 1;
}
/*--footer--*/
.footer {
	background: #2F292B;
	text-align:center;
	padding:3% 0;
}
.footer-text h2{
	color:#fff;
	font-size:3em;
	font-family: 'bebas_neueregular';
	text-transform:uppercase;
	margin-bottom:2%;
}
.footer-text p{
	font-size:0.8125em;
	line-height:1.5em;
	color:#989898;
}
.follow_icon {
	list-style: none;
	padding: 2% 0;
}
ul.follow_icon li {
	display: inline-block;
	margin-left:15px;
}
.follow_icon li a img {
	vertical-align: middle;
}
.copy p{
	color:#fff;
	font-size:0.8125em;
}
.copy p a{
	color:#E4E24F;
}
.copy p a:hover{
	color:#fff;
}
/*--about--*/
.col:first-child {
	margin-left: 0;
}
.col {
	display: block;
	float: left;
}
.span_1_of_about {
	width: 73.2%;
	margin-right: 3%;
}
.span_1_of_about h3 {
	color:#888;
	font-size: 2em;
	margin-bottom: 20px;
	font-family: 'bebas_neueregular';
}
.about-img {
	width: 30%;
	float: left;
	margin-right: 2%;
}
.about-desc {
	width: 68%;
	float: left;
	margin-right: 0;
}
.about-desc p {
	color: #999;
	font-size: 0.8125em;
	line-height: 1.5em;
}
.about-topgrid1 {
	width: 29%;
	float: left;
	margin-right: 5%;
}
.about-topgrid1 h3 {
	color:#888;
	font-size: 2em;
	margin-bottom: 20px;
	font-family: 'bebas_neueregular';
}
.about-topgrid1 img {
	margin-bottom:10px;
}
.about-topgrid1 h5 {
	color: #888;
	font-size: 13px;
	line-height: 1.5em;
	padding-bottom:5px;
}
.about-topgrid1 p {
	font-size: 0.8125em;
	color: #999;
	line-height: 1.5em;
	padding: 4px 0px 8px 0px;
}
.about-histore {
	float: left;
	width: 30%;
}
.about-histore h3 {
	color:#888;
	font-size: 2em;
	margin-bottom: 20px;
	font-family: 'bebas_neueregular';
}
.about-histore ul li span {
	color: #888;
	font-size: 14px;
	padding: 15px 0px 15px 0px;
	margin-bottom: 13px;
	float: left;
	width: 32%;
}
.about-histore ul li p {
	font-size: 0.8125em;
	color: #999;
	line-height: 1.5em;
	padding: 4px 0px 8px 0px;
	float: right;
	width: 67%;
}
.about-services {
	width: 30%;
	float: left;
	margin-left: 5%;
}
.about-services h3 {
	color:#888;
	font-size: 2em;
	margin-bottom: 20px;
	font-family: 'bebas_neueregular';
}
.questions {
	margin: 10px 0 3px 0;
}
.questions h4 {
	color: #888;
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: normal;
}
.questions p {
	font-size: 0.8125em;
	color: #999;
	line-height: 1.5em;
	padding: 4px 0px 8px 0px;
}
.comments-custom li {
	overflow: hidden;
	margin: 0;
	padding: 0px 0 20px 0;
	border-bottom: none;
	background: none;
}
.comments-custom.unstyled .icon {
	background: url(../images/comment.png) no-repeat 0 50%;
	width: 37px;
	height: 70px;
	float: left;
	border-right: 1px solid #D3D0D0;
	padding: 0 8px 0 0;
	margin: 0 10px 0 0;
}
.right-text {
	width:80%;
	float: left;
}
.comments-custom.unstyled .comments-custom_h {
	color: #333;
	font-size: 1em;
	margin: -2px 0 0 0;
}
.comments-custom.unstyled .comments-custom_txt {
	padding: 2px 0 0 0;
	font-size: 13px;
	line-height: 1.5em;
}
.comments-custom time {
	font-size: 11px;
	color: #333;
}
.span_1_of_about1 h3 {
	color: #888;
	font-size: 2em;
	margin-bottom: 20px;
	font-family: 'bebas_neueregular';
}
.about-top{
	padding-bottom:3%;
}
.comments-custom.unstyled .comments-custom_txt a {
	color: #999;
}
.comments-custom.unstyled .comments-custom_txt a:hover {
	color:#E4E24F;
}
.span_1_of_about1 {
	width: 23.2%;
}
p.desc{
	font: italic 18px PT Sans, sans-serif;
	line-height: 23px;
	color: #999;
	font-size: 1.2em;
}
.padd {
	padding: 0 100px;
}
h4.head{
	color:#BDBA04;
	font-family: 'PT Sans', sans-serif;
	font-size:0.8125em;
	line-height:1.5em;
	text-transform: uppercase;
	padding-bottom: 3%;
}
.list-box .numb {
	font-family: 'bebas_neueregular';
	font-size:4em;
	color: #888;
	display: block;
}
h4 {
	color: #BDBA04;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.4em;
	line-height: 1.5em;
	text-transform: uppercase;
}
h5 {
	color: #BDBA04;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	text-transform: uppercase;
	padding-top:5px;
}
p.txt1{
	font-size: 0.8125em;
	line-height: 1.5em;
	color: #333;
	margin-bottom: 5%;
}
p.txt2{
	font-size: 0.8125em;
	line-height: 1.5em;
	color: #999;
}
.more{
	padding-top:4%;
}
/*--contact--*/
/*  Contact Form  ============================================================================= */
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 3.6%;
}
.col:first-child{
	margin-left:0;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 30.2%;
}
.span_2_of_3  h3, .span_1_of_4  h3,
.span_1_of_3  h3 {
	color: #888;
	font-size: 2em;
	margin-bottom: 20px;
	font-family: 'bebas_neueregular';
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form input[type="password"],.contact-form textarea, select{
	padding:8px;
	display:block;
	width:98%;
	background:#fcfcfc;
	border: none;
	outline:none;
	color:#464646;
	font-size:0.8125em;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:120px;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size:0.8125em;
	color:#999;
	line-height: 1.5em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.company_address p span:hover{
	text-decoration:none;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */
@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%;
	}
	.col{
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%;
	}
	.col{
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%;
	}
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%;
	}
	.col {
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%;
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*--404--*/
.page-not-found h1 {
	font-size: 15em;
	color: #F0F0F0;
	text-align: center;
}
/*--responsive design--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}
	.right-text {
		width: 79%;
	}
}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}
	.right-text {
		width:78%;
	}
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}
	.right-text {
		width:73%;
	}
	.about-desc {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.header-text .phone {
		background: url(../images/phone.png) left 7px no-repeat;
	}
}
@media (max-width:800px){
	.wrap{
		width:90%;
	}
	.right-text {
		width:65%;
	}
	.about-desc {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.logo h1 a {
		font-size: 5em;
	}
	.header-text {
		/*margin: -88px 0px;*/
	}
	.cssmenu > ul > li > a {
		font: normal 14px/30px PT Sans, sans-serif;
		padding: 4px 13px;
		line-height: 4.8em;
	}
	.top-box h2 {
		font-size: 2.5em;
	}
	hr {
		width: 350px;
	}
	.span_1_of_5 h3 {
		font-size: 13px;
	}
	.span_1_of_4 h3 a {
		font-size: 1.2em;
	}
	.btn.btn-primary {
		font-size: 0.8125em;
	}
	.span_1_of_about1 h3 {
		font-size: 1.7em;
	}
	.list-box .numb {
		font-size: 3em;
	}
	h4 {
		font-size: 1.2em;
	}
	.footer-text h2 {
		font-size: 2.5em;
	}
}
@media (max-width:768px){
	.wrap{
		width:90%;
	}
	.right-text {
		width: 64%;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}
	.right-text {
		width:65%;
	}
	.about-desc {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.logo h1 a {
		font-size:4em;
	}
	.header-text {
		/*margin:-79px -20px;*/
	}
	.cssmenu > ul > li > a {
		font: normal 14px/30px PT Sans, sans-serif;
		padding: 4px 13px;
		line-height: 4.8em;
	}
	.top-box h2 {
		font-size: 2.5em;
	}
	hr {
		width: 350px;
	}
	.span_1_of_5 h3 {
		font-size: 13px;
	}
	.span_1_of_4 h3 a {
		font-size: 1.2em;
	}
	.btn.btn-primary {
		font-size: 0.8125em;
	}
	.span_1_of_about1 h3 {
		font-size: 1.7em;
	}
	.list-box .numb {
		font-size: 3em;
	}
	h4 {
		font-size: 1.2em;
	}
	.footer-text h2 {
		font-size: 2.5em;
	}
	.header {
		padding:20px 0;
	}
	.header-text .phone {
		background: url(../images/phone.png) left 9px no-repeat;
	}
	.span_1_of_about {
		width: 100%;
	}
	.span_1_of_about1 {
		width: 100%;
	}
	.about-topgrid1 {
		width: 100%;
		float: none;
		margin-right: 0px;
	}
	.about-histore {
		float: none;
		width: 100%;
	}
	.about-services {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.span_1_of_about h3 {
		font-size: 1.7em;
	}
	.about-topgrid1 h3 {
		font-size: 1.7em;
	}
	.about-histore h3 {
		font-size: 1.7em;
	}
	.about-services h3 {
		font-size: 1.7em;
	}
}
@media (max-width:480px){
	.wrap{
		width:90%;
	}
	.right-text {
		width:65%;
	}
	.about-desc {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.logo h1 a {
		font-size:4em;
	}
	.header-text {
		margin: 0;
		float: none;
		text-align: center;
	}
	.cssmenu > ul > li > a {
		font: normal 13px/30px PT Sans, sans-serif;
		padding: 4px 10px;
		line-height: 4.8em;
	}
	.top-box h2 {
		font-size:2em;
	}
	hr {
		width: 350px;
	}
	.span_1_of_5 h3 {
		font-size: 13px;
	}
	.span_1_of_4 h3 a {
		font-size: 1.2em;
	}
	.btn.btn-primary {
		font-size: 0.8125em;
	}
	.span_1_of_about1 h3 {
		font-size: 1.7em;
	}
	.list-box .numb {
		font-size: 3em;
	}
	h4 {
		font-size: 1.2em;
	}
	.footer-text h2 {
		font-size: 2em;
	}
	.header {
		padding:20px 0;
	}
	.padd {
		padding: 0 20px;
	}
	.header-text .phone {
		background: url(../images/phone.png) left 9px no-repeat;
	}
	.span_1_of_about {
		width: 100%;
	}
	.span_1_of_about1 {
		width: 100%;
	}
	.about-topgrid1 {
		width: 100%;
		float: none;
		margin-right: 0px;
	}
	.about-histore {
		float: none;
		width: 100%;
	}
	.about-services {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.span_1_of_about h3 {
		font-size: 1.7em;
	}
	.about-topgrid1 h3 {
		font-size: 1.7em;
	}
	.about-histore h3 {
		font-size: 1.7em;
	}
	.about-services h3 {
		font-size: 1.7em;
	}
	.span_2_of_3 h3, .span_1_of_3 h3 {
		font-size: 1.7em;
	}
}
@media (max-width:320px){
	.wrap{
		width:90%;
	}
	.right-text {
		width:65%;
	}
	.about-desc {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.logo h1 a {
		font-size:4em;
	}
	.header-text {
		margin: 0;
		float: none;
		text-align: center;
	}
	.cssmenu > ul > li > a {
		font: normal 13px/30px PT Sans, sans-serif;
		padding: 0px 0px;
		line-height: 2.8em;
	}
	.top-box h2 {
		font-size:2em;
	}
	hr {
		width:230px;
	}
	.span_1_of_5 h3 {
		font-size: 13px;
	}
	.span_1_of_4 h3 a {
		font-size: 1.2em;
	}
	.btn.btn-primary {
		font-size: 0.8125em;
	}
	.span_1_of_about1 h3 {
		font-size: 1.7em;
	}
	.list-box .numb {
		font-size: 3em;
	}
	h4 {
		font-size: 1.2em;
	}
	.footer-text h2 {
		font-size: 2em;
	}
	.header {
		padding:20px 0;
	}
	.padd {
		padding: 0 20px;
	}
	.header-text .phone {
		background: url(../images/phone.png) left 9px no-repeat;
	}
	.span_1_of_about {
		width: 100%;
	}
	.span_1_of_about1 {
		width: 100%;
	}
	.about-topgrid1 {
		width: 100%;
		float: none;
		margin-right: 0px;
	}
	.about-histore {
		float: none;
		width: 100%;
	}
	.about-services {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.span_1_of_about h3 {
		font-size: 1.7em;
	}
	.about-topgrid1 h3 {
		font-size: 1.7em;
	}
	.about-histore h3 {
		font-size: 1.7em;
	}
	.about-services h3 {
		font-size: 1.7em;
	}
	.span_2_of_3 h3, .span_1_of_3 h3 {
		font-size: 1.7em;
	}
	.top-box p {
		width: 90%;
	}
	.cssmenu > ul > li {
		display: block;
	}
	.cssmenu {
		padding: 2px 0;
	}
	.follow_icon li a img {
		width: 60%;
	}
	ul.follow_icon li {
		margin-left: -3px;
	}
}