<!DOCTYPE html>
<html>
    <head><title>Buchung</title></head>
    <body style="font-family:arial,verdana, sans-serif;background-color:#1f1f1f;text-align:center">
        <table style="width:782px;border-width: 0px;margin:auto;" cellspacing="0" cellpadding="0" border="0">
            <tbody style="background-color:#ffffff">
            <tr>
                <td style="position:relative;vertical-align:top;height:282px;background-image:url('http://sexradar.com/inc/std/email/templates/images/email_header.jpg')">
                    <ul style="margin:0;float:right;list-style-type: none;margin-top:12px;margin-right:15px;">
                        <li style="float:left;padding:0;margin:0;margin-right:15px">
                            <a href="http://sexradar.com/hilfe.htm" style="color:#ffffff;text-decoration:none">HILFE</a>
                        </li>
                        <li style="float:left;padding:0;margin:0;padding-left:15px;border-left:1px solid #ffffff">
                            <a href="http://sexradar.com/impressum.htm" style="color:#ffffff;text-decoration:none">IMPRESSUM</a>
                        </li>
                    </ul>
                   <?php echo $this->_['header']?>

                </td>
            </tr>
            <tr style="min-height:200px;">
                <td>
                    <?php echo $this->_['innercontent']?>
                </td>
            </tr>
            <tr>
                <td style="color:#ffffff;vertical-align:middle;height:44px;padding-top:20px;font-size:12px;background-image:url('http://sexradar.com/inc/std/email/templates/images/mail_footer.png')">
                    Mehr erfahren Sie auf unserer Webseite <a href="http://sexradar.com" style="color:lightblue">SexRadar.com</a>. Dein Sextreffen wartet bereits auf Dich.
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>