<h1>Sprache löschen - Bestätigung</h1>
Wollen Sie die Sprache <b>"<?php echo strip_tags(htmlspecialchars(stripslashes($this->_['language']->language))) ?>" </b> wirklich löschen?<br/><br/>
<?php echo $this->_['link']->makeLink('<b>[ JA ]</b>',WEBDIR."admin/languageadmin.htm?submit=yes&amp;view=delete&amp;languageid=".$this->_['language']->id,"adminlink");?> /
<?php echo $this->_['link']->makeLink('<b>[ NEIN ]</b>',WEBDIR."admin/languageadmin.htm","adminlink"); ?>




 