<div class="wrap">
    <div class="products">
        <div class="top-box">
            <h2>Willkommen <?php echo $_SESSION['user']->username ?> im Userbereich</h2>
            <?php echo $this->_['content']->fulltext?>
        </div>
    </div>
</div>