<?php 
    if(!empty($this->_['klient'])):
        $temph=array();
        foreach($this->_['klient'] as $key => $kha):
            if(!in_array($kha->datum_ab."--".$kha->datum_bis,$temph) && $kha->datum_ab."--".$kha->datum_bis != $kha->a_datum_ab."--".$kha->a_datum_bis):
                $tempkha[] = $kha->datum_ab."--".$kha->datum_bis;
                $historiestr .= "<li id='$kha->id--$kha->hilfeart_id--$kha->asd_id--$kha->datum_ab--$kha->datum_bis'>
                                    <ul>
                                        <li>- von : <time>".$this->func->sanitize($kha->datum_ab)."</time> bis : <time>"
                                        . $this->func->sanitize($kha->datum_bis).'</time> <b class="onclick_update">update</b></li>
                                        <li><h5>'.$this->func->sanitize($kha->hilfeart_name)."</h5></li>
                                        <li><h6>".$this->func->sanitize($kha->asd_name)."</h6><br /></li>
                                    </ul>
                                </li>";
            endif;
            if($kha->datum_ab."--".$kha->datum_bis == $kha->a_datum_ab."--".$kha->a_datum_bis && !empty($kha->a_datum_ab)):
                $aktuellstr = "<li id='$kha->id--$kha->hilfeart_id--$kha->asd_id--$kha->datum_ab--$kha->datum_bis'>
                                   <ul>
                                       <li>von : <time>".$this->func->sanitize($kha->a_datum_ab)."</time> bis : <time>"
                                       . $this->func->sanitize($kha->a_datum_bis).'</time> <b class="onclick_update">update</b></li>
                                       <li><h5>'.$this->func->sanitize($kha->hilfeart_name)."</h5></li>
                                       <li><h6>".$this->func->sanitize($kha->asd_name)."</h6></li>
                                   </ul>
                               </li>";

            endif;



        endforeach;
        if( empty( $historiestr ) )
           $historiestr= "Keine Historie vorhanden!";
        if( empty( $aktuellstr ) )
           $aktuellstr= "Keine Aktuell vorhanden!";
           
           
           
    endif;
    ?>
<h3>Klients Hilfearten</h3>
                    <p id="onclick">Hilfeart Asd Hinzufügen</p>
                    <div class="questions">
                        <h4><!-- Hier fehlt noch den Link des Bilds -->
                            <img alt="" src="images/marker.png">
                            <b><u>Aktuell</u></b> :
                        </h4>
                        <br />
                        <!-- Hier steht die Variable $aktuellstr -->
                        <ul id="historie_zone">
                            <?php echo $aktuellstr; ?>
                        </ul>
                    </div>
                    <br />
                    <div class="questions">
                        <h4><!-- Hier fehlt noch den Link des Bilds -->
                            <img alt="" src="images/marker.png">
                            <b><u>Historie</u></b> :
                        </h4>
                        <br />
                        <!-- Hier steht die Variable $historiestr -->
                        <div class="fixed_block">
                            <ul id="historie_zone">
                                <?php echo $historiestr; ?>
                            </ul>    
                        </div>
                    </div>




