<?php
    if(!empty($this->_['klient'])):
        $tempn=array();
        $temph=array();
        foreach($this->_['klient'] as $key => $notiz):
            if(!in_array($notiz->id."--".$notiz->user_id."--".$notiz->datum,$tempn)):
                $tempn[] = $notiz->id."--".$notiz->user_id."--".$notiz->datum;
                $notizstr .=
                                "<ul id='$notiz->id--$notiz->datum--$notiz->user_id--$notiz->notiz' style='border-bottom:1px solid #000'>
                                    <li><b class='onclick_update_notiz'><img src='".WEBDIR."images/icons/page_edit.png'/></b>
                                        <b>". $this->func->sanitize($notiz->usurname.", ".$notiz->ugiven_name) ."
                                        ". $this->func->sanitize($notiz->datum) ."</b><br/><br/>

                                        ". nl2br($this->func->sanitize($notiz->notiz)) ."<br/><br/>
                                    </li>
                                    <div class='clear'> </div>
                                </ul><br/>"
                        ;
            endif;
        endforeach;
        if( empty( $notizstr ) )
           $notizstr= "Keine Notiz gefunden!";
   endif;
?>

<h3>Klients Notizen</h3>
<p id="onclick_notiz">Notiz Hinzufügen</p>
<br />
<div class="historey-lines fixed_block_notizen">
    <!-- Hier steht die Variable $notizstr -->
    <?php echo $notizstr; ?>
</div>
<br />
<div class="clear"> </div>