﻿body {
    width:100%;
    height:100%;
    
}

.layout {
    height:100%;
    width:100%;
    display:-ms-grid;
    -ms-grid-columns:20px 200px 1fr 40px;
    -ms-grid-rows:20px 100px 1fr 40px;

}
.listItem {
    width:100%;
}
#top_left {
    -ms-grid-column:2;
    -ms-grid-column-span:2;
    -ms-grid-row:2;
}
#top_right {
    -ms-grid-column:3;
    -ms-grid-row:2;
}

#mid_left {
    -ms-grid-column:2;
    -ms-grid-row:3;
}
#mid_right {
    -ms-grid-column:3;
    -ms-grid-row:3;
    background-color:#808080;
}
#listView {
    width:100%;
}


@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
