﻿

/*  "regular_events", "more_events", "holidays", "birthdays"*/

.dhx_cal_event.event_1 div {
    background-color:#489bc2 !important;
}
.dhx_cal_event_line.event_1 {
    background-color:#489bc2 !important;
}
.dhx_cal_event_clear.event_1 {
    color:#489bc2 !important;
}
/*****************************************/
.dhx_cal_event.event_2 div {
    background-color: #CC3399 !important;
}
.dhx_cal_event_line.event_2 {
    background-color:#CC3399 !important;
}
.dhx_cal_event_clear.event_2 {
    color:#CC3399 !important;
}
/*****************************************/
.dhx_cal_event.event_3 div {
    background-color: #33CC33 !important;
}
.dhx_cal_event_line.event_3 {
    background-color:#33CC33 !important;
}
.dhx_cal_event_clear.event_3 {
    color:#33CC33 !important;
}
/*****************************************/
.dhx_cal_event.event_4 div {
    background-color:#b200ff !important;
}
.dhx_cal_event_line.event_4 {
    background-color:#b200ff !important;
}
.dhx_cal_event_clear.event_4 {
    color:#b200ff !important;
}
/*****************************************/


.dhx_year_tooltip {
    color:black;
}