<h1>Newsartikel löschen - Bestätigung</h1>
Wollen Sie den Newsartikel <b>"<?php echo strip_tags(htmlspecialchars(stripslashes($this->_['record']->title))) ?>" </b> wirklich löschen?<br/><br/>
<?php echo $this->link->makeLink('<b>[ JA ]</b>',WEBDIR."admin/newsadmin.htm?submit=yes&amp;view=delete&amp;recordid=".$this->_['record']->id,"adminlink");?> /
<?php echo $this->link->makeLink('<b>[ NEIN ]</b>',WEBDIR."admin/newsadmin.htm","adminlink"); ?>




 