<h1>Land löschen - Bestätigung</h1>
Wollen Sie das Land <b>"<?php echo strip_tags(htmlspecialchars(stripslashes($this->_['country']->name))) ?>" </b> wirklich löschen?<br/><br/>
<?php echo $this->_['link']->makeLink('<b>[ JA ]</b>',WEBDIR."admin/countryadmin.htm?submit=yes&amp;view=delete&amp;countryid=".$this->_['country']->id,"adminlink");?> /
<?php echo $this->_['link']->makeLink('<b>[ NEIN ]</b>',WEBDIR."admin/countryadmin.htm","adminlink"); ?>




 