<?php
    if(!empty($this->_['klient'])):
        $tempt=array();
        foreach($this->_['klient'] as $key => $termin):
            if(!in_array($termin->termin_id."--".$termin->titel."--".$termin->beschreibung."--".$termin->terminbeginn."--".$termin->terminende,$tempt) ):

                $tempt[] = $termin->termin_id."--".$termin->titel."--".$termin->beschreibung."--".$termin->terminbeginn."--".$termin->terminende;
                $historietermine .= "<li id='$termin->termin_id--$termin->titel--$termin->beschreibung--$termin->terminbeginn--$termin->terminende'>
                                    <ul>
                                        <li><b class=\"onclick_update_termin\" style=\"float:left \"><img src=\"".WEBDIR."images/icons/page_edit_small.gif\" alt=\"Bearbeiten\" title=\"Bearbeiten\" /></b>von <time>".$this->func->sanitize($termin->terminbeginn)."</time> bis <time>"
                                        . $this->func->sanitize($termin->terminende).'</time></li>
                                        <li><h5>'.$this->func->sanitize($termin->titel)."</h5></li>
                                        <li><p>".nl2br($this->func->sanitize($termin->beschreibung))."</p><br /></li>
                                    </ul>
                                </li>";
            endif;



        endforeach;
        if( empty( $historietermine ) )
           $historietermine= "Keine Termine vorhanden!";


    endif;
    ?>
<h3 style="float:left;">Termine</h3>
        <a href="javascript:void(0)" id="onclick_termin">Termin Hinzufügen</a><br style="clear:both;float:none;"/>

                                <?php echo $historietermine; ?>






