<?php  $_SERVER['QUERY_STRING']=str_replace("&&", '&', str_replace("res=".$_GET['res'], '', str_replace("modul=".$_GET['modul'], '', $_SERVER['QUERY_STRING'])))?>
<div class="col span_2_of_3">
<h3>Asds <?php echo empty($this->_['asd'])?'neu anlegen':'ändern';?></h3>
<hr>
<p class="desc">Sie haben die Möglichkeit mit dem nachfolgenden Formularen die Asds zu ändern.<br/>* markierte Felder sind Pflichtfelder!</p>

<div class="contact-form">
<br/><br/>
<form action="" method="post" style="padding-right:0px;margin-right:0px;">
<fieldset>
    <label>Name</label>
    <input type="text" placeholder="neuer Name" id="name" name="name" class="<?php echo isset($this->_['valErrors']['name'])?'validate_error':''?> validate_required" value="<?php echo $this->func->sanitize(!empty($request['name'])?$request['name']:$this->_['asd']->name); ?>"/><br/>
    <label>Abteilung</label>
    <input type="text" placeholder="neue Abteilung" id="abteilung" name="abteilung" class="<?php echo isset($this->_['valErrors']['abteilung'])?'validate_error':''?> validate_required" value="<?php echo $this->func->sanitize(!empty($request['abteilung'])?$request['abteilung']:$this->_['asd']->abteilung); ?>"/><br/>
    <label>Stadt</label>
    <input type="text" placeholder="neue Stadt" id="stadt" name="stadt" class="<?php echo isset($this->_['valErrors']['stadt'])?'validate_error':''?> validate_required" value="<?php echo $this->func->sanitize(!empty($request['stadt'])?$request['stadt']:$this->_['asd']->stadt); ?>"/><br/>
	
    <br class="clr"/><br/><br/>
</fieldset>


<br class="clear" />
<br class="clr" style="clear:both;float:none;"/>

<input type="submit" class="btn btn-primary btn1" name="submit" value="Daten speichern"/>



</form>
</div>
</div>

<div class="clr"/></div>
