<h1>Region löschen - Bestätigung</h1>
Wollen Sie die Region <b>"<?php echo strip_tags(htmlspecialchars(stripslashes($this->_['region']->name))) ?>" </b> wirklich löschen?<br/><br/>
<?php echo $this->_['link']->makeLink('<b>[ JA ]</b>',WEBDIR."admin/regionadmin.htm?submit=yes&amp;view=delete&amp;regionid=".$this->_['region']->id,"adminlink");?> /
<?php echo $this->_['link']->makeLink('<b>[ NEIN ]</b>',WEBDIR."admin/regionadmin.htm","adminlink"); ?>




 