		<h1 class="content"><?php echo $this->_['content']->title; ?></h1>
		<?php echo $this->_['content']->fulltext; ?>
		<form action="" method="post">
		   <input type="text" name="artikel[title]"/>
		   <input type="text" name="artikel[title_alias]"/>
		   <input type="text" name="artikel[alias]"/>
		   <input type="text" name="artikel[fulltext]"/>
		   <input type="submit"/>
		</form>
		<pre>
		<?php print_r($_POST)?>
