<h1>Inhaltsseite  löschen - Bestätigung</h1>
Wollen Sie die Inhaltsseite <b>"<?php echo strip_tags(htmlspecialchars(stripslashes($this->_['content']->title))) ?>" </b> wirklich löschen?<br/><br/>
<?php //echo $this->_['content']->id;?>
<?php echo $this->_['link']->makeLink('<b>[ JA ]</b>',WEBDIR."admin/contentadmin.htm?submit=yes&amp;view=delete&amp;contentid=".$this->_['content']->id,"adminlink");?> /
<?php echo $this->_['link']->makeLink('<b>[ NEIN ]</b>',WEBDIR."admin/contentadmin.htm","adminlink"); ?>




 